body {background-color: #F0F0F0 ;}

h1 {font-size: 250%;
	font-family: Georgia;
	text-align: center
}

h2 {color: #787878; 
font-size: 150%;
font-family: Verdana}

figcaption {padding: 2px;
font-variant: small-caps;
font-size: 125%}

img {box-shadow: 10px 7.5px 10px #888888;}

p {font-size: 105%;}