body {background-color: pink ;}

h1 {font-size: 500%;
	font-family: Baskerville;
	text-align: right}

h2 {color: red; 
font-size: 150%;
font-family: Garamond;
font-style: italic}

li {font-style: italic;}

td {text-align: center;}

